n8n/AgenteAnalisis.workflow.json
{
  "name": "AgenteAnalisis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sentinel-analysis",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f42ec764-c667-4c7f-a695-41b87723f8e1",
      "name": "Webhook - Evento Percepcion",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -980,
        0
      ],
      "webhookId": "sentinel-analysis"
    },
    {
      "parameters": {
        "jsCode": "const payload = $json.body ?? $json;\nif (payload.entrada && payload.resultado && payload.decision) {\n  return [{ json: payload }];\n}\nconst context = payload.contexto ?? payload.context ?? {};\nconst memoria = payload.memoria ?? payload.memory ?? {};\n\nfunction normalizeObject(value) {\n  const normalized = String(value ?? '').trim().toLowerCase().replace(/[_\\s]+/g, '_');\n  const aliases = {\n    pistol: 'arma',\n    pistola: 'arma',\n    handgun: 'arma',\n    firearm: 'arma',\n    weapon: 'arma',\n    gun: 'arma',\n    rifle: 'fusil',\n    knife: 'arma_blanca',\n    cuchillo: 'arma_blanca',\n    scissors: 'arma_blanca',\n    cellphone: 'cell_phone',\n    mobile_phone: 'cell_phone',\n    phone: 'cell_phone',\n    nonviolence: 'no_violencia',\n    non_violence: 'no_violencia',\n    'non-violence': 'no_violencia',\n    no_violence: 'no_violencia',\n    'no-violence': 'no_violencia',\n    normal: 'no_violencia',\n    person: 'persona',\n    people: 'multitud',\n    crowd: 'multitud',\n    pelea: 'violencia',\n    fight: 'violencia',\n    fighting: 'violencia',\n    violence: 'violencia'\n  };\n  return aliases[normalized] ?? normalized;\n}\n\nfunction numberOrDefault(value, fallback = 0) {\n  const parsed = Number(value);\n  return Number.isFinite(parsed) ? parsed : fallback;\n}\n\nfunction reviewIdFor(camera, object, time) {\n  return String(camera + '_' + object + '_' + time).replace(/[^a-zA-Z0-9_-]/g, '').slice(0, 64) || 'sin_evento';\n}\n\nconst objeto = normalizeObject(payload.objeto ?? payload.object);\nconst confianza = numberOrDefault(payload.confianza ?? payload.confidence);\nconst camara = String(payload.camara ?? payload.camera ?? payload.camara_id ?? 'PC-01');\nconst hora = String(payload.hora ?? payload.detected_at ?? new Date().toISOString());\nconst box = payload.box ?? null;\nconst imagen = payload.imagen ?? payload.image_path ?? payload.imagen_url ?? null;\n\nconst eventTime = new Date(hora);\nconst hour = Number.isNaN(eventTime.getTime()) ? new Date().getHours() : eventTime.getHours();\nconst isNight = hour >= 22 || hour <= 5;\n\nreturn [\n  {\n    json: {\n      agente: 'AgenteAnalisis',\n      version: '0.4.0',\n      entrada: { objeto, confianza, camara, hora, box, imagen },\n      contexto: {\n        zona: context.zona ?? context.zone ?? 'sin_zona',\n        iluminacion: normalizeObject(context.iluminacion ?? context.lighting ?? 'desconocida'),\n        cantidad_personas: numberOrDefault(context.cantidad_personas ?? context.people_count),\n        hora_local: hour,\n        noche: isNight\n      },\n      tracking: {},\n      memoria: {\n        eventos_previos_24h: numberOrDefault(memoria.eventos_previos_24h ?? memoria.previous_events_24h),\n        alertas_previas_24h: numberOrDefault(memoria.alertas_previas_24h ?? memoria.previous_alerts_24h)\n      },\n      review_id: reviewIdFor(camara, objeto, hora)\n    }\n  }\n];"
      },
      "id": "4ea02ee2-a31b-4f29-b0fa-93d96d4c1375",
      "name": "Normalizar Evento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -700,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nif (data.resultado && data.decision) {\n  return [{ json: data }];\n}\nconst objeto = data.entrada.objeto;\nconst confianza = data.entrada.confianza;\nconst contexto = data.contexto;\nconst memoria = data.memoria;\n\nconst objectBaseScores = {\n  arma: 80,\n  arma_blanca: 65,\n  fusil: 95,\n  violencia: 75,\n  multitud: 35,\n  persona_sospechosa: 45,\n  no_violencia: 2,\n  persona: 10,\n  cell_phone: 5,\n  car: 8,\n  truck: 8,\n  motorcycle: 10\n};\nconst dangerousObjects = new Set(['arma', 'arma_blanca', 'fusil', 'violencia']);\nlet score = 0;\nconst factores = [];\n\nfunction add(points, code, detail) {\n  score += points;\n  factores.push({ code, points, detail });\n}\n\nif (!objeto) {\n  add(5, 'payload_incompleto', 'No se recibio objeto detectable.');\n} else if (Object.prototype.hasOwnProperty.call(objectBaseScores, objeto)) {\n  const code = dangerousObjects.has(objeto) ? 'objeto_peligroso' : 'objeto_base';\n  add(objectBaseScores[objeto], code, 'Objeto detectado: ' + objeto + '.');\n} else {\n  add(8, 'objeto_observado', 'Objeto observado sin regla critica: ' + objeto + '.');\n}\n\nif (objeto === 'persona' && contexto.cantidad_personas >= 2) {\n  add(5, 'multiples_personas', 'Personas detectadas en escena: ' + contexto.cantidad_personas + '.');\n}\n\nif (confianza >= 0.9) add(10, 'alta_confianza', 'Confianza alta: ' + confianza + '.');\nelse if (confianza >= 0.7) add(5, 'confianza_media', 'Confianza aceptable: ' + confianza + '.');\nelse add(-10, 'baja_confianza', 'Confianza baja: ' + confianza + '.');\n\nif (contexto.noche) add(15, 'horario_nocturno', 'Evento detectado en horario nocturno.');\nif (['baja', 'oscura', 'low', 'dark'].includes(contexto.iluminacion)) add(10, 'baja_iluminacion', 'Condicion de baja iluminacion.');\nif (memoria.alertas_previas_24h >= 2) add(15, 'historial_alertas', 'La camara/zona tiene alertas recientes.');\nif (memoria.eventos_previos_24h >= 10) add(8, 'historial_eventos', 'La camara/zona tiene actividad reciente alta.');\n\nscore = Math.max(0, Math.min(100, Math.round(score)));\nlet riesgo = 'BAJO';\nlet severidad = 'INFORMATIVA';\nif (score >= 90) {\n  riesgo = 'CRITICO';\n  severidad = 'CRITICA';\n} else if (score >= 70) {\n  riesgo = 'ALTO';\n  severidad = 'ALTA';\n} else if (score >= 30) {\n  riesgo = 'MEDIO';\n  severidad = 'MEDIA';\n}\n\nreturn [\n  {\n    json: {\n      ...data,\n      resultado: {\n        riesgo,\n        nivel_riesgo: riesgo,\n        severidad,\n        score,\n        score_riesgo: Math.round((score / 100) * 10000) / 10000,\n        factores,\n        algoritmo: 'risk_rules_v5_seguridad_multiclase'\n      }\n    }\n  }\n];"
      },
      "id": "cc6f34c4-62c0-477b-af39-a91e930770cb",
      "name": "AgenteRiesgo - Score Hibrido",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -420,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nif (data.persistencia && data.resultado && data.decision) {\n  return [{ json: data }];\n}\nconst score = data.resultado.score;\nconst riesgo = data.resultado.riesgo;\nconst reviewId = data.review_id ?? data.persistencia?.review_id ?? 'sin_evento';\n\nlet accion = 'REGISTRAR_EVENTO';\nlet prioridad = 2;\nlet notificar = false;\nconst canales = [];\nconst accionesHumanas = ['CONFIRMAR_AMENAZA', 'FALSO_POSITIVO', 'REQUIERE_MAS_REVISION'];\nlet requiereRevisionHumana = false;\nlet estadoRevisionHumana = 'NO_REQUERIDA';\nlet automatizacionBloqueada = false;\n\nif (score >= 90) {\n  accion = 'SOLICITAR_VALIDACION_URGENTE';\n  prioridad = 10;\n  notificar = true;\n  canales.push('telegram_supervisor', 'dashboard_realtime');\n  requiereRevisionHumana = true;\n  estadoRevisionHumana = 'PENDIENTE';\n  automatizacionBloqueada = true;\n} else if (score >= 70) {\n  accion = 'SOLICITAR_VALIDACION_HUMANA';\n  prioridad = 8;\n  notificar = true;\n  canales.push('telegram_supervisor', 'dashboard_realtime');\n  requiereRevisionHumana = true;\n  estadoRevisionHumana = 'PENDIENTE';\n  automatizacionBloqueada = true;\n} else if (score >= 30) {\n  accion = 'SOLICITAR_REVISION_HUMANA';\n  prioridad = 5;\n  notificar = true;\n  canales.push('telegram_supervisor');\n  requiereRevisionHumana = true;\n  estadoRevisionHumana = 'PENDIENTE';\n  automatizacionBloqueada = true;\n} else if (data.entrada.confianza < 0.5) {\n  accion = 'IGNORAR_BAJA_CONFIANZA';\n  prioridad = 1;\n}\n\nreturn [\n  {\n    json: {\n      status: 'procesado',\n      pipeline: ['AgentePercepcion', 'AgenteAnalisis', 'AgenteRiesgo', 'AgenteAccion', 'AgenteMemoria', 'AgenteInterfazHumana'],\n      agente: data.agente,\n      version: data.version,\n      entrada: data.entrada,\n      contexto: data.contexto,\n      tracking: {},\n      memoria: data.memoria,\n      resultado: data.resultado,\n      decision: {\n        accion,\n        accion_tomada: accion,\n        prioridad,\n        notificar,\n        canales,\n        guardar_en_supabase: true,\n        requiere_revision_humana: requiereRevisionHumana,\n        estado_revision_humana: estadoRevisionHumana,\n        acciones_humanas_permitidas: requiereRevisionHumana ? accionesHumanas : [],\n        automatizacion_bloqueada: automatizacionBloqueada,\n        review_id: reviewId\n      },\n      persistencia: {\n        camara_id: data.entrada.camara,\n        objeto: data.entrada.objeto,\n        confianza: data.entrada.confianza,\n        score_riesgo: data.resultado.score_riesgo,\n        nivel_riesgo: data.resultado.nivel_riesgo,\n        accion_tomada: accion,\n        alertas_previas_24h: data.memoria.alertas_previas_24h,\n        detected_at: data.entrada.hora,\n        box: data.entrada.box,\n        contexto: data.contexto,\n        tracking: {},\n        memoria: data.memoria,\n        requiere_revision_humana: requiereRevisionHumana,\n        estado_revision_humana: estadoRevisionHumana,\n        review_id: reviewId\n      },\n      mensaje: accion + ': ' + riesgo + ' con score ' + data.resultado.score_riesgo,\n      siguientes_agentes: {\n        interfaz_humana: requiereRevisionHumana ? 'telegram_supervisor_pendiente' : 'no_requerida',\n        prediccion_ml: 'pendiente_fase_siguiente',\n        dashboard: 'listo_para_realtime'\n      },\n      procesado_en: new Date().toISOString()\n    }\n  }\n];"
      },
      "id": "cb399534-06df-4f42-a103-e688b275d3d0",
      "name": "AgenteAccion - Preparar Respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -140,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "f028c8d3-0806-4d6c-a3cc-f7b3f7e39fbf",
      "name": "Responder a AgentePercepcion",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        700,
        80
      ]
    },
    {
      "id": "b64053fb-6fd3-4b7d-9d6f-0d86fb79d231",
      "name": "Requiere Revision Humana?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        140,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "requiere-revision-humana",
              "leftValue": "={{$json.decision.requiere_revision_humana}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "2d532f9a-cc1b-48bd-a90c-2f2fb64c5980",
      "name": "AgenteInterfazHumana - Preparar Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        -180
      ],
      "parameters": {
        "jsCode": "const data = $json;\nconst risk = data.resultado?.nivel_riesgo ?? \"BAJO\";\nconst event = data.entrada ?? {};\nconst tracking = data.tracking ?? {};\nconst decision = data.decision ?? {};\nconst score = data.resultado?.score_riesgo ?? 0;\nconst reviewRequired = Boolean(\n  decision.requiere_revision_humana ?? decision.requires_human_review,\n);\nconst reviewStatus = decision.estado_revision_humana ?? decision.human_review_status ?? \"NO_REQUERIDA\";\nconst reviewId = data.persistencia?.review_id ?? decision.review_id ?? data.review_id ?? \"\";\nconst legacyTrackId = tracking.track_id ?? tracking.person_id ?? \"\";\nconst reviewKey = sanitizeKey(reviewId || legacyTrackId || `${event.camara ?? \"PC-01\"}_${event.objeto ?? \"unknown\"}_${event.hora ?? Date.now()}`);\nconst factors = (data.resultado?.factores ?? [])\n  .slice(-5)\n  .map((factor) => `- ${escapeHtml(factor.code)}: ${escapeHtml(factor.detail)}`)\n  .join(\"\\n\");\n\nfunction sanitizeKey(value) {\n  const safe = String(value).replace(/[^a-zA-Z0-9_-]/g, \"\").slice(0, 40);\n  return safe || \"sin_evento\";\n}\n\nfunction escapeHtml(value) {\n  return String(value ?? \"\")\n    .replace(/&/g, \"&amp;\")\n    .replace(/</g, \"&lt;\")\n    .replace(/>/g, \"&gt;\");\n}\n\nconst text = [\n  `<b>SentinelAI - Revision ${escapeHtml(risk)}</b>`,\n  `Accion: ${escapeHtml(decision.accion_tomada ?? decision.accion ?? \"REGISTRAR_EVENTO\")}`,\n  `Revision humana: ${escapeHtml(reviewStatus)}`,\n  `Camara: ${escapeHtml(event.camara ?? \"PC-01\")}`,\n  `Objeto: ${escapeHtml(event.objeto ?? \"unknown\")} (${escapeHtml(event.confianza ?? 0)})`,\n  `Score: ${escapeHtml(score)}`,\n  data.resultado?.resumen_ia ? `IA: ${escapeHtml(data.resultado.resumen_ia)}` : null,\n  factors ? `Factores:\\n${factors}` : null,\n].filter(Boolean).join(\"\\n\");\n\nreturn [\n  {\n    json: {\n      text,\n      parse_mode: \"HTML\",\n      disable_notification: ![\"CRITICO\", \"ALTO\"].includes(risk),\n      reply_markup: reviewRequired\n        ? {\n            inline_keyboard: [\n              [\n                { text: \"Confirmar amenaza\", callback_data: `sentinel:confirm:${reviewKey}` },\n                { text: \"Falso positivo\", callback_data: `sentinel:false:${reviewKey}` },\n              ],\n              [\n                { text: \"Mas revision\", callback_data: `sentinel:review:${reviewKey}` },\n              ],\n            ],\n          }\n        : undefined,\n      review_context: {\n        review_id: reviewKey,\n        tracking_id: legacyTrackId || null,\n        camara_id: event.camara ?? \"PC-01\",\n        objeto: event.objeto ?? \"unknown\",\n        requires_human_review: reviewRequired,\n        human_review_status: reviewStatus,\n        risk,\n        score,\n      },\n    },\n  },\n];\n"
      }
    },
    {
      "id": "37cd851e-34f4-4a7d-b18f-34d7cd5c7f21",
      "name": "Telegram Supervisor - Enviar Validacion",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        700,
        -180
      ],
      "parameters": {
        "chatId": "={{$env.SENTINEL_TELEGRAM_CHAT_ID}}",
        "text": "={{$json.text}}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Confirmar amenaza",
                    "additionalFields": {
                      "callback_data": "={{'sentinel:confirm:' + $json.review_context.review_id}}"
                    }
                  },
                  {
                    "text": "Falso positivo",
                    "additionalFields": {
                      "callback_data": "={{'sentinel:false:' + $json.review_context.review_id}}"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Mas revision",
                    "additionalFields": {
                      "callback_data": "={{'sentinel:review:' + $json.review_context.review_id}}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "parse_mode": "HTML",
          "disable_notification": "={{$json.disable_notification}}",
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "SentinelAI Telegram Bot"
        }
      }
    },
    {
      "id": "59d4dc3c-9b29-4c57-b23b-5400e363fc76",
      "name": "Webhook - Callback Telegram Supervisor",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -980,
        420
      ],
      "webhookId": "sentinel-telegram-callback",
      "parameters": {
        "httpMethod": "POST",
        "path": "sentinel-telegram-callback",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "a70c0105-31f7-4994-a27b-40d930c4bc8e",
      "name": "AgenteInterfazHumana - Procesar Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -700,
        420
      ],
      "parameters": {
        "jsCode": "const payload = $json.body ?? $json;\nconst callback = payload.callback_query ?? payload.callback ?? {};\nconst callbackData = String(callback.data ?? payload.callback_data ?? \"\");\nconst parts = callbackData.split(\":\");\n\nconst actionMap = {\n  confirm: {\n    human_label: \"real_threat\",\n    estado_revision_humana: \"CONFIRMADA\",\n    accion_final: \"ACTIVAR_PROTOCOLO\",\n    alimentar_entrenamiento: true,\n  },\n  false: {\n    human_label: \"false_positive\",\n    estado_revision_humana: \"FALSO_POSITIVO\",\n    accion_final: \"CERRAR_EVENTO\",\n    alimentar_entrenamiento: true,\n  },\n  review: {\n    human_label: \"needs_more_review\",\n    estado_revision_humana: \"REQUIERE_MAS_REVISION\",\n    accion_final: \"SOLICITAR_MAS_CONTEXTO\",\n    alimentar_entrenamiento: false,\n  },\n};\n\nconst actionKey = parts[0] === \"sentinel\" ? parts[1] ?? \"\" : \"\";\nconst reviewId = parts[0] === \"sentinel\" ? parts[2] ?? \"\" : payload.review_id ?? \"\";\nconst trackingId = payload.tracking_id ?? \"\";\nconst selected = actionMap[actionKey] ?? {\n  human_label: \"unknown\",\n  estado_revision_humana: \"DESCONOCIDA\",\n  accion_final: \"REVISAR_MANUALMENTE\",\n  alimentar_entrenamiento: false,\n};\n\nreturn [\n  {\n    json: {\n      source: \"telegram_supervisor\",\n      callback_data: callbackData,\n      review_id: reviewId,\n      tracking_id: trackingId,\n      answer_callback_query: {\n        callback_query_id: callback.id ?? payload.callback_query_id ?? null,\n        text: `SentinelAI: ${selected.estado_revision_humana}`,\n        show_alert: false,\n      },\n      supervisor: {\n        user_id: callback.from?.id ?? payload.user_id ?? null,\n        username: callback.from?.username ?? payload.username ?? null,\n        decided_at: new Date().toISOString(),\n        ...selected,\n      },\n      persistencia_feedback: {\n        review_id: reviewId,\n        tracking_id: trackingId,\n        camara_id: payload.camara_id ?? null,\n        detection_event_id: payload.detection_event_id ?? null,\n        human_label: selected.human_label,\n        estado_revision_humana: selected.estado_revision_humana,\n        accion_final: selected.accion_final,\n        supervisor_user_id: callback.from?.id ?? payload.user_id ?? null,\n        supervisor_username: callback.from?.username ?? payload.username ?? null,\n        alimentar_entrenamiento: selected.alimentar_entrenamiento,\n        raw_callback: callbackData,\n        decided_at: new Date().toISOString(),\n      },\n    },\n  },\n];\n"
      }
    },
    {
      "id": "f957662f-fbb1-4c85-b1a0-9bd400d2eb2c",
      "name": "Responder Callback Telegram",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -420,
        420
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "1bb88311-6fd3-4cb5-85f5-700ce4d88819",
      "name": "Telegram Trigger - Callback Supervisor",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -980,
        620
      ],
      "parameters": {
        "updates": [
          "callback_query"
        ],
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "SentinelAI Telegram Bot"
        }
      }
    },
    {
      "id": "note-telegram-config-sentinelai",
      "name": "Nota - Configurar Telegram Bot",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        620,
        -430
      ],
      "parameters": {
        "width": 440,
        "height": 260,
        "color": 5,
        "content": "## Telegram supervisor\n\n1. Crea un bot con @BotFather.\n2. En n8n crea credencial **Telegram API** con el token del bot.\n3. Asigna esa credencial a:\n   - Telegram Supervisor - Enviar Validacion\n   - Telegram Trigger - Callback Supervisor\n4. Define `SENTINEL_TELEGRAM_CHAT_ID` en el entorno de n8n.\n\nLos botones envian `sentinel:confirm|false|review:review_id`."
      }
    },
    {
      "id": "note-telegram-callback-sentinelai",
      "name": "Nota - Callback Supervisor",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1060,
        780
      ],
      "parameters": {
        "width": 500,
        "height": 190,
        "color": 4,
        "content": "## Callback de validacion humana\n\nLa ruta recomendada es el **Telegram Trigger**, porque n8n registra el webhook del bot al activar el workflow.\n\nEl webhook `sentinel-telegram-callback` queda como respaldo/manual si decides configurar el webhook del bot por URL externa."
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Evento Percepcion": {
      "main": [
        [
          {
            "node": "Normalizar Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Evento": {
      "main": [
        [
          {
            "node": "AgenteRiesgo - Score Hibrido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AgenteRiesgo - Score Hibrido": {
      "main": [
        [
          {
            "node": "AgenteAccion - Preparar Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AgenteAccion - Preparar Respuesta": {
      "main": [
        [
          {
            "node": "Requiere Revision Humana?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Requiere Revision Humana?": {
      "main": [
        [
          {
            "node": "Responder a AgentePercepcion",
            "type": "main",
            "index": 0
          },
          {
            "node": "AgenteInterfazHumana - Preparar Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder a AgentePercepcion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AgenteInterfazHumana - Preparar Telegram": {
      "main": [
        [
          {
            "node": "Telegram Supervisor - Enviar Validacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Callback Telegram Supervisor": {
      "main": [
        [
          {
            "node": "AgenteInterfazHumana - Procesar Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AgenteInterfazHumana - Procesar Callback": {
      "main": [
        [
          {
            "node": "Responder Callback Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger - Callback Supervisor": {
      "main": [
        [
          {
            "node": "AgenteInterfazHumana - Procesar Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "sentinelai-telegram-native-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
