n8n/AgenteAnalisis.workflow.json
{
  "name": "AgenteAnalisis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sentinel-analysis",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f42ec764-c667-4c7f-a695-41b87723f8e1",
      "name": "Webhook - Evento Percepcion",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -980,
        0
      ],
      "webhookId": "sentinel-analysis"
    },
    {
      "parameters": {
        "jsCode": "const payload = $json.body ?? $json;\n\nfunction normalizeObject(value) {\n  const normalized = String(value ?? '').trim().toLowerCase().replace(/[_\\s]+/g, '_');\n  const aliases = {\n    pistol: 'arma',\n    pistola: 'arma',\n    handgun: 'arma',\n    firearm: 'arma',\n    weapon: 'arma',\n    gun: 'arma',\n    rifle: 'fusil',\n    knife: 'arma_blanca',\n    cuchillo: 'arma_blanca',\n    scissors: 'arma_blanca',\n    cellphone: 'cell_phone',\n    mobile_phone: 'cell_phone',\n    phone: 'cell_phone',\n    nonviolence: 'no_violencia',\n    non_violence: 'no_violencia',\n    'non-violence': 'no_violencia',\n    no_violence: 'no_violencia',\n    'no-violence': 'no_violencia',\n    normal: 'no_violencia',\n    person: 'persona',\n    people: 'multitud',\n    crowd: 'multitud',\n    pelea: 'violencia',\n    fight: 'violencia',\n    fighting: 'violencia',\n    violence: 'violencia'\n  };\n  return aliases[normalized] ?? normalized;\n}\n\nfunction numberOrDefault(value, fallback = 0) {\n  const parsed = Number(value);\n  return Number.isFinite(parsed) ? parsed : fallback;\n}\n\nfunction reviewIdFor(camera, object, time) {\n  return String(camera + '_' + object + '_' + time).replace(/[^a-zA-Z0-9_-]/g, '').slice(0, 64) || 'sin_evento';\n}\n\nif (payload.entrada && payload.resultado && payload.decision) {\n  return [{ json: payload }];\n}\n\nconst objeto = normalizeObject(payload.objeto ?? payload.object);\nconst confianza = numberOrDefault(payload.confianza ?? payload.confidence);\nconst camara = String(payload.camara ?? payload.camera ?? payload.camara_id ?? 'PC-01');\nconst hora = String(payload.hora ?? payload.detected_at ?? new Date().toISOString());\nconst box = payload.box ?? null;\nconst imagen = payload.imagen ?? payload.image_path ?? payload.imagen_url ?? null;\nconst contexto = payload.contexto ?? payload.context ?? {};\nconst tracking = payload.tracking ?? {};\nconst memoria = payload.memoria ?? payload.memory ?? {};\nconst reviewId = reviewIdFor(camara, objeto || 'sin_objeto', hora);\n\nreturn [\n  {\n    json: {\n      status: 'rechazado',\n      agente: 'AgenteAnalisis',\n      version: '0.6.0',\n      pipeline: ['AgentePercepcion', 'AgenteAnalisis', 'AgenteRiesgo'],\n      entrada: { objeto, confianza, camara, hora, box, imagen },\n      contexto: {\n        zona: contexto.zona ?? contexto.zone ?? 'sin_zona',\n        iluminacion: normalizeObject(contexto.iluminacion ?? contexto.lighting ?? 'desconocida'),\n        cantidad_personas: numberOrDefault(contexto.cantidad_personas ?? contexto.people_count),\n      },\n      tracking,\n      memoria: {\n        eventos_previos_24h: numberOrDefault(memoria.eventos_previos_24h ?? memoria.previous_events_24h),\n        alertas_previas_24h: numberOrDefault(memoria.alertas_previas_24h ?? memoria.previous_alerts_24h),\n      },\n      resultado: {\n        riesgo: 'DESCONOCIDO',\n        nivel_riesgo: 'DESCONOCIDO',\n        severidad: 'NO_EVALUADA',\n        score: 0,\n        score_riesgo: 0,\n        factores: [\n          {\n            code: 'agente_riesgo_python_requerido',\n            points: 0,\n            detail: 'n8n no calcula riesgo. Envia el payload enriquecido por agente_analisis.risk_engine.',\n          },\n        ],\n        algoritmo: 'n8n_orquestador_sin_calculo_riesgo',\n      },\n      decision: {\n        accion: 'RECHAZAR_EVENTO_SIN_ANALISIS',\n        accion_tomada: 'RECHAZAR_EVENTO_SIN_ANALISIS',\n        prioridad: 0,\n        notificar: false,\n        canales: [],\n        guardar_en_supabase: false,\n        requiere_revision_humana: false,\n        estado_revision_humana: 'NO_REQUERIDA',\n        acciones_humanas_permitidas: [],\n        automatizacion_bloqueada: false,\n        review_id: reviewId,\n      },\n      persistencia: {\n        camara_id: camara,\n        objeto,\n        confianza,\n        score_riesgo: 0,\n        nivel_riesgo: 'DESCONOCIDO',\n        accion_tomada: 'RECHAZAR_EVENTO_SIN_ANALISIS',\n        alertas_previas_24h: 0,\n        detected_at: hora,\n        box,\n        contexto,\n        tracking,\n        memoria,\n        requiere_revision_humana: false,\n        estado_revision_humana: 'NO_REQUERIDA',\n        review_id: reviewId,\n      },\n      mensaje: 'Evento sin analisis Python: n8n no calcula riesgo para evitar duplicacion.',\n      procesado_en: new Date().toISOString(),\n    }\n  }\n];\n"
      },
      "id": "4ea02ee2-a31b-4f29-b0fa-93d96d4c1375",
      "name": "Normalizar Evento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -700,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nif (data.resultado && data.decision) {\n  const persistencia = data.persistencia ?? {\n    camara_id: data.entrada?.camara,\n    objeto: data.entrada?.objeto,\n    confianza: data.entrada?.confianza,\n    score_riesgo: data.resultado?.score_riesgo,\n    nivel_riesgo: data.resultado?.nivel_riesgo,\n    accion_tomada: data.decision?.accion_tomada ?? data.decision?.accion,\n    alertas_previas_24h: data.memoria?.alertas_previas_24h ?? 0,\n    detected_at: data.entrada?.hora,\n    box: data.entrada?.box,\n    contexto: data.contexto ?? {},\n    tracking: data.tracking ?? {},\n    memoria: data.memoria ?? {},\n    requiere_revision_humana: Boolean(data.decision?.requiere_revision_humana),\n    estado_revision_humana: data.decision?.estado_revision_humana ?? 'NO_REQUERIDA',\n    review_id: data.decision?.review_id ?? data.review_id ?? 'sin_evento',\n  };\n\n  return [\n    {\n      json: {\n        ...data,\n        persistencia,\n        resultado: {\n          ...data.resultado,\n          algoritmo: data.resultado.algoritmo ?? 'risk_rules_v2_knn_temporal',\n        },\n        mensaje: data.mensaje ?? ((data.decision?.accion_tomada ?? data.decision?.accion ?? 'SIN_ACCION') + ': ' + (data.resultado?.nivel_riesgo ?? data.resultado?.riesgo ?? 'DESCONOCIDO')),\n      },\n    },\n  ];\n}\n\nreturn [\n  {\n    json: {\n      status: 'rechazado',\n      resultado: {\n        riesgo: 'DESCONOCIDO',\n        nivel_riesgo: 'DESCONOCIDO',\n        score: 0,\n        score_riesgo: 0,\n        factores: [{ code: 'payload_sin_resultado', points: 0, detail: 'Falta resultado de AgenteRiesgo Python.' }],\n        algoritmo: 'n8n_orquestador_sin_calculo_riesgo',\n      },\n      decision: {\n        accion: 'RECHAZAR_EVENTO_SIN_ANALISIS',\n        accion_tomada: 'RECHAZAR_EVENTO_SIN_ANALISIS',\n        prioridad: 0,\n        notificar: false,\n        canales: [],\n        guardar_en_supabase: false,\n        requiere_revision_humana: false,\n        estado_revision_humana: 'NO_REQUERIDA',\n        acciones_humanas_permitidas: [],\n        automatizacion_bloqueada: false,\n      },\n      mensaje: 'Payload sin resultado: n8n no calcula riesgo.',\n      procesado_en: new Date().toISOString(),\n    },\n  },\n];\n"
      },
      "id": "cc6f34c4-62c0-477b-af39-a91e930770cb",
      "name": "AgenteRiesgo - Validar Analisis Python",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -420,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nif (data.resultado && data.decision) {\n  const accion = data.decision.accion_tomada ?? data.decision.accion ?? 'REGISTRAR_EVENTO';\n  const requiereRevisionHumana = Boolean(\n    data.decision.requiere_revision_humana ?? data.decision.requires_human_review,\n  );\n  const estadoRevisionHumana = data.decision.estado_revision_humana ?? data.decision.human_review_status ?? 'NO_REQUERIDA';\n  const reviewId = data.persistencia?.review_id ?? data.decision.review_id ?? data.review_id ?? 'sin_evento';\n  const automatizacionBloqueada = Boolean(\n    data.decision.automatizacion_bloqueada ?? data.decision.automation_locked ?? requiereRevisionHumana,\n  );\n\n  return [\n    {\n      json: {\n        ...data,\n        decision: {\n          ...data.decision,\n          accion,\n          accion_tomada: accion,\n          requiere_revision_humana: requiereRevisionHumana,\n          estado_revision_humana: estadoRevisionHumana,\n          review_id: reviewId,\n          automatizacion_bloqueada: automatizacionBloqueada,\n        },\n        persistencia: {\n          ...(data.persistencia ?? {}),\n          camara_id: data.persistencia?.camara_id ?? data.entrada?.camara,\n          objeto: data.persistencia?.objeto ?? data.entrada?.objeto,\n          confianza: data.persistencia?.confianza ?? data.entrada?.confianza,\n          score_riesgo: data.persistencia?.score_riesgo ?? data.resultado?.score_riesgo,\n          nivel_riesgo: data.persistencia?.nivel_riesgo ?? data.resultado?.nivel_riesgo,\n          accion_tomada: data.persistencia?.accion_tomada ?? accion,\n          alertas_previas_24h: data.persistencia?.alertas_previas_24h ?? data.memoria?.alertas_previas_24h ?? 0,\n          detected_at: data.persistencia?.detected_at ?? data.entrada?.hora,\n          box: data.persistencia?.box ?? data.entrada?.box,\n          contexto: data.persistencia?.contexto ?? data.contexto ?? {},\n          tracking: data.persistencia?.tracking ?? data.tracking ?? {},\n          memoria: data.persistencia?.memoria ?? data.memoria ?? {},\n          requiere_revision_humana: requiereRevisionHumana,\n          estado_revision_humana: estadoRevisionHumana,\n          review_id: reviewId,\n          automatizacion_bloqueada: automatizacionBloqueada,\n        },\n        siguientes_agentes: {\n          interfaz_humana: requiereRevisionHumana ? 'telegram_supervisor_pendiente' : 'no_requerida',\n          dashboard: 'listo_para_realtime',\n        },\n      },\n    },\n  ];\n}\nreturn [{ json: data }];\n"
      },
      "id": "cb399534-06df-4f42-a103-e688b275d3d0",
      "name": "AgenteAccion - Preparar Respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -140,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "f028c8d3-0806-4d6c-a3cc-f7b3f7e39fbf",
      "name": "Responder a AgentePercepcion",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        700,
        80
      ]
    },
    {
      "id": "b64053fb-6fd3-4b7d-9d6f-0d86fb79d231",
      "name": "Requiere Revision Humana?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        140,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "requiere-revision-humana",
              "leftValue": "={{$json.decision.requiere_revision_humana}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "2d532f9a-cc1b-48bd-a90c-2f2fb64c5980",
      "name": "AgenteInterfazHumana - Preparar Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        -180
      ],
      "parameters": {
        "jsCode": "const data = $json;\nconst risk = data.resultado?.nivel_riesgo ?? \"BAJO\";\nconst event = data.entrada ?? {};\nconst tracking = data.tracking ?? {};\nconst decision = data.decision ?? {};\nconst score = data.resultado?.score_riesgo ?? 0;\nconst reviewRequired = Boolean(\n  decision.requiere_revision_humana ?? decision.requires_human_review,\n);\nconst reviewStatus = decision.estado_revision_humana ?? decision.human_review_status ?? \"NO_REQUERIDA\";\nconst reviewId = data.persistencia?.review_id ?? decision.review_id ?? data.review_id ?? \"\";\nconst legacyTrackId = tracking.track_id ?? tracking.person_id ?? \"\";\nconst reviewKey = sanitizeKey(reviewId || legacyTrackId || `${event.camara ?? \"PC-01\"}_${event.objeto ?? \"unknown\"}_${event.hora ?? Date.now()}`);\nconst factors = (data.resultado?.factores ?? [])\n  .slice(-5)\n  .map((factor) => `- ${escapeHtml(factor.code)}: ${escapeHtml(factor.detail)}`)\n  .join(\"\\n\");\n\nfunction sanitizeKey(value) {\n  const safe = String(value).replace(/[^a-zA-Z0-9_-]/g, \"\").slice(0, 40);\n  return safe || \"sin_evento\";\n}\n\nfunction escapeHtml(value) {\n  return String(value ?? \"\")\n    .replace(/&/g, \"&amp;\")\n    .replace(/</g, \"&lt;\")\n    .replace(/>/g, \"&gt;\");\n}\n\nconst text = [\n  `<b>SentinelAI - Revision ${escapeHtml(risk)}</b>`,\n  `Accion: ${escapeHtml(decision.accion_tomada ?? decision.accion ?? \"REGISTRAR_EVENTO\")}`,\n  `Revision humana: ${escapeHtml(reviewStatus)}`,\n  `Camara: ${escapeHtml(event.camara ?? \"PC-01\")}`,\n  `Objeto: ${escapeHtml(event.objeto ?? \"unknown\")} (${escapeHtml(event.confianza ?? 0)})`,\n  `Score: ${escapeHtml(score)}`,\n  data.resultado?.resumen_ia ? `IA: ${escapeHtml(data.resultado.resumen_ia)}` : null,\n  factors ? `Factores:\\n${factors}` : null,\n].filter(Boolean).join(\"\\n\");\n\nreturn [\n  {\n    json: {\n      text,\n      parse_mode: \"HTML\",\n      disable_notification: ![\"CRITICO\", \"ALTO\"].includes(risk),\n      reply_markup: reviewRequired\n        ? {\n            inline_keyboard: [\n              [\n                { text: \"Confirmar amenaza\", callback_data: `sentinel:confirm:${reviewKey}` },\n                { text: \"Falso positivo\", callback_data: `sentinel:false:${reviewKey}` },\n              ],\n              [\n                { text: \"Mas revision\", callback_data: `sentinel:review:${reviewKey}` },\n              ],\n            ],\n          }\n        : undefined,\n      review_context: {\n        review_id: reviewKey,\n        tracking_id: legacyTrackId || null,\n        camara_id: event.camara ?? \"PC-01\",\n        objeto: event.objeto ?? \"unknown\",\n        requires_human_review: reviewRequired,\n        human_review_status: reviewStatus,\n        risk,\n        score,\n      },\n    },\n  },\n];\n"
      }
    },
    {
      "id": "37cd851e-34f4-4a7d-b18f-34d7cd5c7f21",
      "name": "Telegram Supervisor - Enviar Validacion",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        700,
        -180
      ],
      "parameters": {
        "chatId": "={{$env.SENTINEL_TELEGRAM_CHAT_ID}}",
        "text": "={{$json.text}}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Confirmar amenaza",
                    "additionalFields": {
                      "callback_data": "={{'sentinel:confirm:' + $json.review_context.review_id}}"
                    }
                  },
                  {
                    "text": "Falso positivo",
                    "additionalFields": {
                      "callback_data": "={{'sentinel:false:' + $json.review_context.review_id}}"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Mas revision",
                    "additionalFields": {
                      "callback_data": "={{'sentinel:review:' + $json.review_context.review_id}}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "parse_mode": "HTML",
          "disable_notification": "={{$json.disable_notification}}",
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "SentinelAI Telegram Bot"
        }
      }
    },
    {
      "id": "59d4dc3c-9b29-4c57-b23b-5400e363fc76",
      "name": "Webhook - Callback Telegram Supervisor",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -980,
        420
      ],
      "webhookId": "sentinel-telegram-callback",
      "parameters": {
        "httpMethod": "POST",
        "path": "sentinel-telegram-callback",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "a70c0105-31f7-4994-a27b-40d930c4bc8e",
      "name": "AgenteInterfazHumana - Procesar Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -700,
        420
      ],
      "parameters": {
        "jsCode": "const payload = $json.body ?? $json;\nconst callback = payload.callback_query ?? payload.callback ?? {};\nconst callbackData = String(callback.data ?? payload.callback_data ?? \"\");\nconst parts = callbackData.split(\":\");\n\nconst actionMap = {\n  confirm: {\n    human_label: \"real_threat\",\n    estado_revision_humana: \"CONFIRMADA\",\n    accion_final: \"ACTIVAR_PROTOCOLO\",\n    alimentar_entrenamiento: true,\n    titulo: \"ALERTA ACTIVADA\",\n    detalle: \"Amenaza confirmada por supervisor. Activar protocolo operativo.\",\n  },\n  false: {\n    human_label: \"false_positive\",\n    estado_revision_humana: \"FALSO_POSITIVO\",\n    accion_final: \"CERRAR_EVENTO\",\n    alimentar_entrenamiento: true,\n    titulo: \"EVENTO CERRADO\",\n    detalle: \"Marcado como falso positivo. Guardar feedback para reentrenamiento.\",\n  },\n  review: {\n    human_label: \"needs_more_review\",\n    estado_revision_humana: \"REQUIERE_MAS_REVISION\",\n    accion_final: \"SOLICITAR_MAS_CONTEXTO\",\n    alimentar_entrenamiento: false,\n    titulo: \"REVISION ADICIONAL\",\n    detalle: \"Solicitar nueva captura o enviar el evento a un nodo IA para explicar la escena.\",\n  },\n};\n\nconst actionKey = parts[0] === \"sentinel\" ? parts[1] ?? \"\" : \"\";\nconst reviewId = parts[0] === \"sentinel\" ? parts[2] ?? \"\" : payload.review_id ?? \"\";\nconst trackingId = payload.tracking_id ?? \"\";\nconst selected = actionMap[actionKey] ?? {\n  human_label: \"unknown\",\n  estado_revision_humana: \"DESCONOCIDA\",\n  accion_final: \"REVISAR_MANUALMENTE\",\n  alimentar_entrenamiento: false,\n  titulo: \"RESPUESTA RECIBIDA\",\n  detalle: \"Accion no reconocida. Revisar manualmente.\",\n};\n\nreturn [\n  {\n    json: {\n      source: \"telegram_supervisor\",\n      callback_data: callbackData,\n      review_id: reviewId,\n      tracking_id: trackingId,\n      answer_callback_query: {\n        callback_query_id: callback.id ?? payload.callback_query_id ?? null,\n        text: `SentinelAI: ${selected.estado_revision_humana}`,\n        show_alert: false,\n      },\n      supervisor: {\n        user_id: callback.from?.id ?? payload.user_id ?? null,\n        username: callback.from?.username ?? payload.username ?? null,\n        decided_at: new Date().toISOString(),\n        ...selected,\n      },\n      telegram_followup: {\n        text: [\n          `<b>SentinelAI - ${selected.titulo}</b>`,\n          `Revision: ${reviewId || \"sin_evento\"}`,\n          `Estado: ${selected.estado_revision_humana}`,\n          selected.detalle,\n        ].join(\"\\n\"),\n        parse_mode: \"HTML\",\n        request_new_capture: actionKey === \"review\",\n        run_ai_review: actionKey === \"review\" || actionKey === \"confirm\",\n      },\n      persistencia_feedback: {\n        review_id: reviewId,\n        tracking_id: trackingId,\n        camara_id: payload.camara_id ?? null,\n        detection_event_id: payload.detection_event_id ?? null,\n        human_label: selected.human_label,\n        estado_revision_humana: selected.estado_revision_humana,\n        accion_final: selected.accion_final,\n        supervisor_user_id: callback.from?.id ?? payload.user_id ?? null,\n        supervisor_username: callback.from?.username ?? payload.username ?? null,\n        alimentar_entrenamiento: selected.alimentar_entrenamiento,\n        raw_callback: callbackData,\n        decided_at: new Date().toISOString(),\n      },\n    },\n  },\n];\n"
      }
    },
    {
      "id": "f957662f-fbb1-4c85-b1a0-9bd400d2eb2c",
      "name": "Responder Callback Telegram",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -420,
        420
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "1bb88311-6fd3-4cb5-85f5-700ce4d88819",
      "name": "Telegram Trigger - Callback Supervisor",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -980,
        620
      ],
      "parameters": {
        "updates": [
          "callback_query"
        ],
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "SentinelAI Telegram Bot"
        }
      }
    },
    {
      "id": "note-telegram-config-sentinelai",
      "name": "Nota - Configurar Telegram Bot",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        620,
        -430
      ],
      "parameters": {
        "width": 440,
        "height": 260,
        "color": 5,
        "content": "## Telegram supervisor\n\n1. Crea un bot con @BotFather.\n2. En n8n crea credencial **Telegram API** con el token del bot.\n3. Asigna esa credencial a:\n   - Telegram Supervisor - Enviar Validacion\n   - Telegram Trigger - Callback Supervisor\n4. Define `SENTINEL_TELEGRAM_CHAT_ID` en el entorno de n8n.\n\nLos botones envian `sentinel:confirm|false|review:review_id`."
      }
    },
    {
      "id": "note-telegram-callback-sentinelai",
      "name": "Nota - Callback Supervisor",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1060,
        780
      ],
      "parameters": {
        "width": 500,
        "height": 190,
        "color": 4,
        "content": "## Callback de validacion humana\n\nLa ruta recomendada es el **Telegram Trigger**, porque n8n registra el webhook del bot al activar el workflow.\n\nEl webhook `sentinel-telegram-callback` queda como respaldo/manual si decides configurar el webhook del bot por URL externa."
      }
    },
    {
      "id": "telegram-supervisor-responder-callback",
      "name": "Telegram Supervisor - Responder Callback",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -420,
        260
      ],
      "parameters": {
        "chatId": "={{$env.SENTINEL_TELEGRAM_CHAT_ID}}",
        "text": "={{$json.telegram_followup.text}}",
        "additionalFields": {
          "parse_mode": "HTML",
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "SentinelAI Telegram Bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Evento Percepcion": {
      "main": [
        [
          {
            "node": "Normalizar Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Evento": {
      "main": [
        [
          {
            "node": "AgenteRiesgo - Validar Analisis Python",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AgenteAccion - Preparar Respuesta": {
      "main": [
        [
          {
            "node": "Requiere Revision Humana?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Requiere Revision Humana?": {
      "main": [
        [
          {
            "node": "Responder a AgentePercepcion",
            "type": "main",
            "index": 0
          },
          {
            "node": "AgenteInterfazHumana - Preparar Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder a AgentePercepcion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AgenteInterfazHumana - Preparar Telegram": {
      "main": [
        [
          {
            "node": "Telegram Supervisor - Enviar Validacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Callback Telegram Supervisor": {
      "main": [
        [
          {
            "node": "AgenteInterfazHumana - Procesar Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AgenteInterfazHumana - Procesar Callback": {
      "main": [
        [
          {
            "node": "Responder Callback Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram Supervisor - Responder Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger - Callback Supervisor": {
      "main": [
        [
          {
            "node": "AgenteInterfazHumana - Procesar Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AgenteRiesgo - Validar Analisis Python": {
      "main": [
        [
          {
            "node": "AgenteAccion - Preparar Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "sentinelai-telegram-native-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
