n8n/AgenteAnalisis.workflow.json
{
  "name": "AgenteAnalisis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sentinel-analysis",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f42ec764-c667-4c7f-a695-41b87723f8e1",
      "name": "Webhook - Evento Percepcion",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -980,
        0
      ],
      "webhookId": "sentinel-analysis"
    },
    {
      "parameters": {
        "jsCode": "const payload = $json.body ?? $json;\nconst context = payload.contexto ?? payload.context ?? {};\nconst tracking = payload.tracking ?? {};\nconst memoria = payload.memoria ?? payload.memory ?? {};\n\nfunction normalizeObject(value) {\n  return String(value ?? '').trim().toLowerCase().replace(/\\s+/g, '_');\n}\n\nfunction numberOrDefault(value, fallback = 0) {\n  const parsed = Number(value);\n  return Number.isFinite(parsed) ? parsed : fallback;\n}\n\nconst objeto = normalizeObject(payload.objeto ?? payload.object);\nconst confianza = numberOrDefault(payload.confianza ?? payload.confidence);\nconst camara = String(payload.camara ?? payload.camera ?? payload.camara_id ?? 'PC-01');\nconst hora = String(payload.hora ?? payload.detected_at ?? new Date().toISOString());\nconst box = payload.box ?? null;\nconst imagen = payload.imagen ?? payload.image_path ?? payload.imagen_url ?? null;\n\nconst eventTime = new Date(hora);\nconst hour = Number.isNaN(eventTime.getTime()) ? new Date().getHours() : eventTime.getHours();\nconst isNight = hour >= 22 || hour <= 5;\n\nreturn [\n  {\n    json: {\n      agente: 'AgenteAnalisis',\n      version: '0.2.0',\n      entrada: {\n        objeto,\n        confianza,\n        camara,\n        hora,\n        box,\n        imagen\n      },\n      contexto: {\n        zona: context.zona ?? context.zone ?? 'sin_zona',\n        iluminacion: normalizeObject(context.iluminacion ?? context.lighting ?? 'desconocida'),\n        hora_local: hour,\n        noche: isNight\n      },\n      tracking: {\n        person_id: tracking.person_id ?? tracking.track_id ?? null,\n        velocidad: numberOrDefault(tracking.velocidad ?? tracking.speed),\n        permanencia_segundos: numberOrDefault(tracking.permanencia_segundos ?? tracking.loitering_seconds),\n        movimiento_erratico: Boolean(tracking.movimiento_erratico ?? tracking.erratic_motion ?? false)\n      },\n      memoria: {\n        eventos_previos_24h: numberOrDefault(memoria.eventos_previos_24h ?? memoria.previous_events_24h),\n        alertas_previas_24h: numberOrDefault(memoria.alertas_previas_24h ?? memoria.previous_alerts_24h)\n      }\n    }\n  }\n];"
      },
      "id": "4ea02ee2-a31b-4f29-b0fa-93d96d4c1375",
      "name": "Normalizar Evento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -700,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nconst objeto = data.entrada.objeto;\nconst confianza = data.entrada.confianza;\nconst contexto = data.contexto;\nconst tracking = data.tracking;\nconst memoria = data.memoria;\n\nconst objectBaseScores = {\n  gun: 80,\n  knife: 60,\n  scissors: 40,\n  backpack: 18,\n  person: 10,\n  cell_phone: 5,\n  car: 8,\n  truck: 8,\n  motorcycle: 10\n};\nconst dangerousObjects = new Set(['knife', 'gun', 'scissors']);\nlet score = 0;\nconst factores = [];\n\nfunction add(points, code, detail) {\n  score += points;\n  factores.push({ code, points, detail });\n}\n\nif (!objeto) {\n  add(5, 'payload_incompleto', 'No se recibio objeto detectable.');\n} else if (Object.prototype.hasOwnProperty.call(objectBaseScores, objeto)) {\n  const code = dangerousObjects.has(objeto) ? 'objeto_peligroso' : 'objeto_base';\n  add(objectBaseScores[objeto], code, `Objeto detectado: ${objeto}.`);\n} else {\n  add(8, 'objeto_observado', `Objeto observado sin regla critica: ${objeto}.`);\n}\n\nif (confianza >= 0.9) add(10, 'alta_confianza', `Confianza alta: ${confianza}.`);\nelse if (confianza >= 0.7) add(5, 'confianza_media', `Confianza aceptable: ${confianza}.`);\nelse add(-10, 'baja_confianza', `Confianza baja: ${confianza}.`);\n\nif (contexto.noche) add(15, 'horario_nocturno', 'Evento detectado en horario nocturno.');\nif (['baja', 'oscura', 'low', 'dark'].includes(contexto.iluminacion)) add(10, 'baja_iluminacion', 'Condicion de baja iluminacion.');\nif (tracking.velocidad >= 7) add(12, 'movimiento_rapido', `Velocidad elevada: ${tracking.velocidad}.`);\nif (tracking.movimiento_erratico) add(15, 'movimiento_erratico', 'Movimiento erratico reportado por tracking.');\nif (tracking.permanencia_segundos >= 900) add(25, 'permanencia_sospechosa', 'Permanencia mayor o igual a 15 minutos.');\nelse if (tracking.permanencia_segundos >= 300) add(10, 'permanencia_media', 'Permanencia mayor o igual a 5 minutos.');\nif (memoria.alertas_previas_24h >= 2) add(15, 'historial_alertas', 'La camara/zona tiene alertas recientes.');\nif (memoria.eventos_previos_24h >= 10) add(8, 'historial_eventos', 'La camara/zona tiene actividad reciente alta.');\n\nscore = Math.max(0, Math.min(100, Math.round(score)));\nlet riesgo = 'BAJO';\nlet severidad = 'INFORMATIVA';\nif (score >= 80) {\n  riesgo = 'CRITICO';\n  severidad = 'CRITICA';\n} else if (score >= 50) {\n  riesgo = 'ALTO';\n  severidad = 'ALTA';\n} else if (score >= 25) {\n  riesgo = 'MEDIO';\n  severidad = 'MEDIA';\n}\n\nreturn [\n  {\n    json: {\n      ...data,\n      resultado: {\n        riesgo,\n        nivel_riesgo: riesgo,\n        severidad,\n        score,\n        score_riesgo: Math.round((score / 100) * 10000) / 10000,\n        factores,\n        algoritmo: 'risk_rules_v1'\n      }\n    }\n  }\n];"
      },
      "id": "cc6f34c4-62c0-477b-af39-a91e930770cb",
      "name": "AgenteRiesgo - Score Hibrido",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -420,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nconst score = data.resultado.score;\nconst riesgo = data.resultado.riesgo;\nconst severidad = data.resultado.severidad;\n\nlet accion = 'REGISTRAR_EVENTO';\nlet prioridad = 2;\nlet notificar = false;\nconst canales = [];\n\nif (score >= 80) {\n  accion = 'ALERTA_CRITICA';\n  prioridad = 10;\n  notificar = true;\n  canales.push('telegram', 'dashboard_realtime');\n} else if (score >= 50) {\n  accion = 'ENVIAR_ALERTA';\n  prioridad = 8;\n  notificar = true;\n  canales.push('dashboard_realtime');\n} else if (score >= 25) {\n  accion = 'MONITOREAR';\n  prioridad = 5;\n} else if (data.entrada.confianza < 0.5) {\n  accion = 'IGNORAR_BAJA_CONFIANZA';\n  prioridad = 1;\n}\n\nreturn [\n  {\n    json: {\n      status: 'procesado',\n      pipeline: ['AgentePercepcion', 'AgenteAnalisis', 'AgenteRiesgo', 'AgenteAccion', 'AgenteMemoria'],\n      agente: data.agente,\n      version: data.version,\n      entrada: data.entrada,\n      contexto: data.contexto,\n      tracking: data.tracking,\n      memoria: data.memoria,\n      resultado: data.resultado,\n      decision: {\n        accion,\n        accion_tomada: accion,\n        prioridad,\n        notificar,\n        canales,\n        guardar_en_supabase: true,\n        requiere_revision_humana: ['ALTO', 'CRITICO'].includes(riesgo)\n      },\n      persistencia: {\n        camara_id: data.entrada.camara,\n        objeto: data.entrada.objeto,\n        confianza: data.entrada.confianza,\n        score_riesgo: data.resultado.score_riesgo,\n        nivel_riesgo: data.resultado.nivel_riesgo,\n        accion_tomada: accion,\n        alertas_previas_24h: data.memoria.alertas_previas_24h,\n        detected_at: data.entrada.hora,\n        box: data.entrada.box,\n        contexto: data.contexto\n      },\n      mensaje: `${accion}: ${riesgo} con score ${data.resultado.score_riesgo}`,\n      siguientes_agentes: {\n        tracking: 'pendiente_fase_3',\n        prediccion_ml: 'pendiente_fase_7',\n        dashboard: 'pendiente_fase_8'\n      },\n      procesado_en: new Date().toISOString()\n    }\n  }\n];"
      },
      "id": "cb399534-06df-4f42-a103-e688b275d3d0",
      "name": "AgenteAccion - Preparar Respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -140,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "f028c8d3-0806-4d6c-a3cc-f7b3f7e39fbf",
      "name": "Responder a AgentePercepcion",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        140,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Evento Percepcion": {
      "main": [
        [
          {
            "node": "Normalizar Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Evento": {
      "main": [
        [
          {
            "node": "AgenteRiesgo - Score Hibrido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AgenteRiesgo - Score Hibrido": {
      "main": [
        [
          {
            "node": "AgenteAccion - Preparar Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AgenteAccion - Preparar Respuesta": {
      "main": [
        [
          {
            "node": "Responder a AgentePercepcion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bd00fc5a-7da2-49c8-9a76-ece70f929df7",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
